# 0. Variables

##### In Python, variables are used to store and manage data values. They provide a way to give a name or identifier to a piece of data, making it easier to refer to and manipulate that data throughout your program. Variables allow you to store various types of data, such as numbers, strings, lists, and more.

In [78]:
space_name = "Astronaut Abel"

In [79]:
print(space_name)

Astronaut Abel

This is how you assign a variable in python and call it using the print function.

In [80]:
type(space_name)

str

In [81]:
space_name = 123456

here we reassign the same variable.

In [82]:
type(space_name)

int

# 1. Data Types

In [83]:
# This is declaring a variable as a string
string_variable = 'pluto'
print(string_variable)

pluto

In [84]:
type(string_variable)

str

In [85]:
# This is declaring a variable as a integer
integer_variable = 1234
print(integer_variable)

1234

In [86]:
type(integer_variable)

int

In [87]:
# This is declaring a variable as a float
float_variable = 1234.45
print(float_variable)

1234.45

In [88]:
type(float_variable)

float

In [89]:
# This is declaring a variable as a boolean 
bool_variable = False
print(bool_variable)

False

In [90]:
type(bool_variable)

bool

In [91]:
str(bool_variable)

'False'

this are the type casting functions

In [92]:
bool(bool_variable)

False

In [93]:
# This is declaring a variable as a list 
list_variable = [1,2,3,4]
print(list_variable)

[1, 2, 3, 4]

In [94]:
print(list_variable[0])

1

In [95]:
type(list_variable)

list

In [96]:
"""
This is declaring a variable as a tuple and are immutable(un assignable)
"""
tuple_variable = (1,2,3,4)
print(tuple_variable)
type(tuple_variable)

(1, 2, 3, 4)

tuple

In [97]:
print(tuple_variable[2])

3

In [98]:
#tuple_variable[2]= 3

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[55], line 1
----> 1 tuple_variable[2]= 3

TypeError: 'tuple' object does not support item assignment

In [99]:
"""
This is declaring a variable as a set and are immutable(un assignable)
and it can not have duplicates 
"""
set_variable = {1,2,3,4}
print(set_variable)
type(set_variable)

{1, 2, 3, 4}

set

In [100]:
#set_variable[2] = 2

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[60], line 1
----> 1 set_variable[2] = 2

TypeError: 'set' object does not support item assignment

In [101]:
#typecasting lists to set to remove duplicates

lists = [1,2,3,4,5,5,2,1]
print(lists)

#we use set to type cast to list

print(list(set(lists)))

[1, 2, 3, 4, 5, 5, 2, 1]
[1, 2, 3, 4, 5]

In [102]:
# This is declaring a dictionary variable
dict_variable = {
    'name':"Shibabaw",
    'favorite_color':"red",
    'favorite_number':20
}
print(dict_variable)

{'name': 'Shibabaw', 'favorite_color': 'red', 'favorite_number': 20}

In [103]:
print(dict_variable['name'])

Shibabaw

# 2. Lists

In [104]:
# create
names = ['neil armstrong','buzz aldrin', 'sally ride','yuri gagarin','elon mask']

In [105]:
# read
names

['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon mask']

In [106]:
# reading using indexing
names[0]

'neil armstrong'

In [107]:
names[-1]

'elon mask'

In [108]:
len(names)

5

In [109]:
# update

names[-1] = 'abel shibabaw'
names

['neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'abel shibabaw']

In [110]:
# it adds at the end
names.append('elon mask')

In [111]:
names

['neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'abel shibabaw',
 'elon mask']

In [112]:
names.insert(0,'abebe bekilla')

In [113]:
names.remove('abebe bekilla')

In [114]:
# delete

del names[4]

# 3. Dictionaries

In [115]:
# create 
astronaut = {
    "name":"elon mask",
    "suit_size":"large",
    "allergies":"peanuts"
}

In [116]:
# read

In [117]:
astronaut

{'name': 'elon mask', 'suit_size': 'large', 'allergies': 'peanuts'}

In [118]:
# reading using indexing
astronaut['suit_size']

'large'

In [119]:
astronaut.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [120]:
list(astronaut.keys())

['name', 'suit_size', 'allergies']

In [121]:
astronaut.values()

dict_values(['elon mask', 'large', 'peanuts'])

In [122]:
# update
astronaut['allergies'] = 'mango'

In [123]:
astronaut

{'name': 'elon mask', 'suit_size': 'large', 'allergies': 'mango'}

In [124]:
astronaut['space_ship'] = 'Galactic 1'

In [125]:
#delete
del astronaut['space_ship']
del astronaut['alergies']

KeyError: 'alergies'

# 4. Conditionals and Logic

In [131]:
# applying logic using an if statement
name = 'Neil Armstrong'
name = 'Nick'
if name == 'Neil Armstrong':
    print('Sup Neil')

In [129]:
test_number = 10
if test_number >= 5:
    print('number is greater than 5')

number is greater than 5

In [128]:
probability = 0.73

# if the probability is greater than 0.5
if probability >= 0.5:
    print(True)
# print out error statement if probability is less than 0
elif probability < 0:
    print('check your probabilities')
    
# anything else    
else:
    print(False)

True

In [17]:
# creating a list of names
names = ['neil armstrong','buzz aldrin','saily ride','yuri gagarin','elon musk']
#using escapes with formating sequence
if 'elon musk' in names:
    print(f'{names[-1].capitalize()}\'s here')

Elon musk's here

# 5. Loops

In [132]:
# this is an example for 'for loops'

for name in names:
    print(name)
    if name == 'buzz aldrin':
        print(f'Sup {name}\n')
        # Next value in the list
        continue
        
    elif name == 'yuri gagarin':
        print(f'Hey {name}')
        # break statement breaks the loop
        break
        
    else:
        # place holder to do nothing
       pass
    print('Pleased to have you here\n')

neil armstrong
Pleased to have you here

buzz aldrin
Sup buzz aldrin

saily ride
Pleased to have you here

yuri gagarin
Hey yuri gagarin

In [ ]:
# loop x number of times
for idx in range(1,10):
    print(idx)

In [9]:
# this is an example for 'while loops'
launched_shuttles = 0
total_shuttles = 10

# starts to do something until you say it to stop
while True:
    # string formatting
    print(f'shuttle {launched_shuttles+1} launched')
    launched_shuttles += 1
    
    if(launched_shuttles == total_shuttles):
        print('all shuttles are launched')
        break

shuttle 1 launched
shuttle 2 launched
shuttle 3 launched
shuttle 4 launched
shuttle 5 launched
shuttle 6 launched
shuttle 7 launched
shuttle 8 launched
shuttle 9 launched
shuttle 10 launched
all shuttles are launched

In [10]:
# creating a dictionary
astronaut ={
    'name':'Ashley Sami',
    'suit_size':'medium',
    'alergies':'peanuts'
}

In [11]:
# looping over a dictionary key
for key in astronaut.keys():
    print(key)

name
suit_size
alergies

In [12]:
# Accessing dictionary values
astronaut.values()

dict_values(['Ashley Sami', 'medium', 'peanuts'])

In [13]:
# looping over a dictionary value
for value in astronaut.values():
    print(value)

Ashley Sami
medium
peanuts

In [15]:
# looping through keys and values at the same time
for key,value in astronaut.items():
    print(key)
    print(value,'\n')

name
Ashley Sami

suit_size
medium

alergies
peanuts

In [18]:
# list comprehension
new_list = [name.title() for name in names]

In [19]:
new_list

['Neil Armstrong', 'Buzz Aldrin', 'Saily Ride', 'Yuri Gagarin', 'Elon Musk']

In [20]:
names

['neil armstrong', 'buzz aldrin', 'saily ride', 'yuri gagarin', 'elon musk']

# 6. Functions

In [24]:
# defining a function in python - Recipe

def launchpad_welcome():
    print('Welcome')

In [31]:
# running a function
launchpad_welcome()

Welcome

In [25]:
# creating a list of names
names = ['neil armstrong','buzz aldrin','saily ride','yuri gagarin','elon musk']

In [33]:
# defining a function in python with a single/Positional argument
def custom_welcome(name):
    print(f'Welcome {name}')

In [32]:
for name in names:
    custom_welcome(name)

Welcome neil armstrong
Welcome buzz aldrin
Welcome saily ride
Welcome yuri gagarin
Welcome elon musk

In [35]:
# defining a function in python with a multiple Positional argument
def custom_welcome_to_ship(name,space_ship):
    print(f'Welcome {name} to the {space_ship}')

The reason why they are called positional argument is that the position where we add matters

In [37]:
custom_welcome_to_ship('Abel Shibabaw','Galactic 1')

Welcome Abel Shibabaw to the Galactic 1

In [38]:
space_ship=['Galactic 1','Galactic 2','USS Voyager','Maximum Amazin Wow Space Ship','Apple Space Ship']

In [40]:
for idx,name in enumerate(names):
    print(idx,name)

0 neil armstrong
1 buzz aldrin
2 saily ride
3 yuri gagarin
4 elon musk

looping over two lists using the index of the first list

In [45]:
# used the enumerate function to get the name and index
for idx,name in enumerate(names):
    ship= space_ship[idx]
    custom_welcome_to_ship(name,ship)

Welcome neil armstrong to the Galactic 1
Welcome buzz aldrin to the Galactic 2
Welcome saily ride to the USS Voyager
Welcome yuri gagarin to the Maximum Amazin Wow Space Ship
Welcome elon musk to the Apple Space Ship

In [48]:
# keyword argument that is assigned if the function deoesn't recieve anything
def space_suit(color = 'Blue'):
    print('Your space suit is {}'.format(color))

In [53]:
space_suit(color='Red')
space_suit()

Your space suit is Red
Your space suit is Blue

In [52]:
# never write the keyword argument before positional argument
def space_suit_wellcome(name,space_ship,color='Blue'):
    print('welcome {} to the {}, your space suit is {}'.format(name,space_ship,color))

Note: but the order of keyword doesn't matter you can change it up

In [54]:
def space_suit_return(name,space_ship,color='Blue'):
    return 'welcome {} to the {}, your space suit is {}'.format(name,space_ship,color)

In [55]:
welcome = space_suit_return('abebe','bekilla',color='red')

In [56]:
print(welcome)

welcome abebe to the bekilla, your space suit is red

In [59]:
# lamda function - anonymous function
pi = lambda x: x*3.14
print(pi(2))

6.28

# 7. Classes

In [104]:
# classes are boiler plates for objects

class Person():
    # the method as soon as you create a class initialize
    def __init__(self, name, age, color):
        # Create same attributes for our person class
        self.name = name
        self.age = age
        self.color = color
    # Date of birth method
    def year_of_birth(self):
        return 2021 - self.age
    # Projected age
    def projected_age(self,years = 5):
        return self.age + years

In [105]:
new_person = Person('abel', 22, 'Black')

In [94]:
new_person.name

'abel'

In [103]:
# run a method
new_person.year_of_birth()

1999

In [106]:
new_person.projected_age()

27

# 8. Inheritance - 
- parent: is the class passing down attributes and methods = PERSON
- child: is the class inherting the methods and attributes = ASTRONAUT

In [129]:
# Create a child class
class Astronaut(Person):
    def __init__( self, name, age, color, misson_length_in_month ):
        super().__init__(name,age,color)
        self.misson_length_in_month = misson_length_in_month
    # method for caculating age on returh
    def age_on_return(self):
        return self.projected_age(
            years =int( self.misson_length_in_month/12)
        )

In [130]:
new_astronaut = Astronaut('abebe',12,'white',20)

this is the method inherited from Person Class

In [132]:
new_astronaut.age_on_return()

13

# 9. Modules

In [133]:
# Import launch codes helper
from helpers import launch_codes

In [134]:
launch_codes()

123456789

# 10. Working with packages

In [135]:
!pip install requests

Requirement already satisfied: requests in /home/abelcosmic/anaconda3/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/abelcosmic/anaconda3/lib/python3.11/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/abelcosmic/anaconda3/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/abelcosmic/anaconda3/lib/python3.11/site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /home/abelcosmic/anaconda3/lib/python3.11/site-packages (from requests) (2023.7.22)

In [ ]:
# listing all the packages from the command prompt in my local machine
!pip list

In [138]:
# import request into notebook
import requests

In [139]:
requests.get??

In [182]:
# I can haz dad joke api endpoint
joke_url = 'https://icanhazdadjoke.com'

# where the iss api endpoint
iss_url = 'https://api.wheretheiss.at/v1/satellites/25544'

In [183]:
# This is setting up a header metadata for your api request
my_header = {'Accept':'application/json'}

# API call
results = requests.get(joke_url,headers=my_header)

In [163]:
json_result = results.json()

In [148]:
type(json_result)

dict

In [164]:
json_result

{'id': 'QuscibaMClb',
 'joke': 'What does a pirate pay for his corn? A buccaneer!',
 'status': 200}

In [165]:
json_result['joke']

'What does a pirate pay for his corn? A buccaneer!'

In [184]:
solution = requests.get(iss_url,headers=my_header)

In [185]:
solution