# 0. Variables

##### In Python, variables are used to store and manage data values. They provide a way to give a name or identifier to a piece of data, making it easier to refer to and manipulate that data throughout your program. Variables allow you to store various types of data, such as numbers, strings, lists, and more.

In [78]:
space_name = "Astronaut Abel"

In [79]:
print(space_name)

Astronaut Abel

This is how you assign a variable in python and call it using the print function.

In [80]:
type(space_name)

str

In [81]:
space_name = 123456

here we reassign the same variable.

In [82]:
type(space_name)

int

# 1. Data Types

In [83]:
# This is declaring a variable as a string
string_variable = 'pluto'
print(string_variable)

pluto

In [84]:
type(string_variable)

str

In [85]:
# This is declaring a variable as a integer
integer_variable = 1234
print(integer_variable)

1234

In [86]:
type(integer_variable)

int

In [87]:
# This is declaring a variable as a float
float_variable = 1234.45
print(float_variable)

1234.45

In [88]:
type(float_variable)

float

In [89]:
# This is declaring a variable as a boolean 
bool_variable = False
print(bool_variable)

False

In [90]:
type(bool_variable)

bool

In [91]:
str(bool_variable)

'False'

this are the type casting functions

In [92]:
bool(bool_variable)

False

In [93]:
# This is declaring a variable as a list 
list_variable = [1,2,3,4]
print(list_variable)

[1, 2, 3, 4]

In [94]:
print(list_variable[0])

1

In [95]:
type(list_variable)

list

In [96]:
"""
This is declaring a variable as a tuple and are immutable(un assignable)
"""
tuple_variable = (1,2,3,4)
print(tuple_variable)
type(tuple_variable)

(1, 2, 3, 4)

tuple

In [97]:
print(tuple_variable[2])

3

In [98]:
#tuple_variable[2]= 3

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[55], line 1
----> 1 tuple_variable[2]= 3

TypeError: 'tuple' object does not support item assignment

In [99]:
"""
This is declaring a variable as a set and are immutable(un assignable)
and it can not have duplicates 
"""
set_variable = {1,2,3,4}
print(set_variable)
type(set_variable)

{1, 2, 3, 4}

set

In [100]:
#set_variable[2] = 2

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[60], line 1
----> 1 set_variable[2] = 2

TypeError: 'set' object does not support item assignment

In [101]:
#typecasting lists to set to remove duplicates

lists = [1,2,3,4,5,5,2,1]
print(lists)

#we use set to type cast to list

print(list(set(lists)))

[1, 2, 3, 4, 5, 5, 2, 1]
[1, 2, 3, 4, 5]

In [102]:
# This is declaring a dictionary variable
dict_variable = {
    'name':"Shibabaw",
    'favorite_color':"red",
    'favorite_number':20
}
print(dict_variable)

{'name': 'Shibabaw', 'favorite_color': 'red', 'favorite_number': 20}

In [103]:
print(dict_variable['name'])

Shibabaw

# 2. Lists

In [104]:
# create
names = ['neil armstrong','buzz aldrin', 'sally ride','yuri gagarin','elon mask']

In [105]:
# read
names

['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon mask']

In [106]:
# reading using indexing
names[0]

'neil armstrong'

In [107]:
names[-1]

'elon mask'

In [108]:
len(names)

5

In [109]:
# update

names[-1] = 'abel shibabaw'
names

['neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'abel shibabaw']

In [110]:
# it adds at the end
names.append('elon mask')

In [111]:
names

['neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'abel shibabaw',
 'elon mask']

In [112]:
names.insert(0,'abebe bekilla')

In [113]:
names.remove('abebe bekilla')

In [114]:
# delete

del names[4]

# 3. Dictionaries

In [115]:
# create 
astronaut = {
    "name":"elon mask",
    "suit_size":"large",
    "allergies":"peanuts"
}

In [116]:
# read

In [117]:
astronaut

{'name': 'elon mask', 'suit_size': 'large', 'allergies': 'peanuts'}

In [118]:
# reading using indexing
astronaut['suit_size']

'large'

In [119]:
astronaut.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [120]:
list(astronaut.keys())

['name', 'suit_size', 'allergies']

In [121]:
astronaut.values()

dict_values(['elon mask', 'large', 'peanuts'])

In [122]:
# update
astronaut['allergies'] = 'mango'

In [123]:
astronaut

{'name': 'elon mask', 'suit_size': 'large', 'allergies': 'mango'}

In [124]:
astronaut['space_ship'] = 'Galactic 1'

In [125]:
#delete
del astronaut['space_ship']
del astronaut['alergies']

KeyError: 'alergies'

# 4. Conditionals and Logic

In [131]:
# applying logic using an if statement
name = 'Neil Armstrong'
name = 'Nick'
if name == 'Neil Armstrong':
    print('Sup Neil')

In [129]:
test_number = 10
if test_number >= 5:
    print('number is greater than 5')

number is greater than 5

In [128]:
probability = 0.73

# if the probability is greater than 0.5
if probability >= 0.5:
    print(True)
# print out error statement if probability is less than 0
elif probability < 0:
    print('check your probabilities')
    
# anything else    
else:
    print(False)

True

In [127]:
# creating a list of names
names = ['neil armstrong','buzz aldrin','saily ride','yuri gagarin','elon musk']
#using escapes with formating sequence
if 'elon musk' in names:
    print(f'{names[-1].capitalize()}\'s here')

Elon musk's here

# 5. Loops

In [132]:
# this is an example for 'for loops'

for name in names:
    print(name)
    if name == 'buzz aldrin':
        print(f'Sup {name}\n')
        # Next value in the list
        continue
        
    elif name == 'yuri gagarin':
        print(f'Hey {name}')
        # break statement breaks the loop
        break
        
    else:
        # place holder to do nothing
       pass
    print('Pleased to have you here\n')

neil armstrong
Pleased to have you here

buzz aldrin
Sup buzz aldrin

saily ride
Pleased to have you here

yuri gagarin
Hey yuri gagarin

In [3]:
# loop x number of times
for idx in range(1,10):
    print(idx)

1
2
3
4
5
6
7
8
9